/* ================= Customise Nav ================= */
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.background-transparent{
    background: rgb(78, 78, 78) !important;
    padding-bottom: 2px;
    padding-top: 3px;
    color: #fff !important;
}
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
    padding-bottom: 2px;
    padding-top: 3px;
}
