
/* preloader
---------------------------------------------------------------------------*/
.preload-order{
    width: 80%;
    height: 30vh;
    background: url(../img/preloader.gif) center no-repeat;
}

/* order page
---------------------------------------------------------------------------*/
.order-page-container{
    display: flex;
    width: auto;
    height: auto;
    min-height: 100vh;
}
.mini-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: auto;
    text-align: center;
    box-shadow: 6px 0px 5px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.mini-nav .header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.order-display-area{
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #f7f7f7;
    min-height: 100vh;
}
.previous-order-content{
    padding-top: 50px;
    padding-left: 50px;
    width: auto;
    height: auto;
    overflow: hidden;
}

/* sidebar
---------------------------------------------------------------------------*/
.back{
    color: #000;
    text-decoration: none;
    position: absolute;
    left: 1.5%;
    top: 2.5%;
    font-size: 18px;
}
.back:hover{
    color: #E7272D;
}
.logo-img{
    top: 7%;
    position: relative;
}
.link a{
    padding: 5px;
    transition: .5s ease-in-out;
    display: block;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.103);
}
.link a:hover{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
/* orders
---------------------------------------------------------------------------*/
.orders{
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 20px 20px 60px #e7e7e7,
    -20px -20px 60px #ffffff;
    text-align: center;
    align-items: center;
    background-color: #fff;
}
.order-img{
    padding-left: 20px;
}
.order-img img{
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
}
.remove-order{
    font-size: 28px;
    font-weight: bold;
    padding: 0px 15px;
}
.remove-single-order{
    background-color: white;
    border: none;
    transition: all .3s;
}
.remove-single-order:hover{
    color: #E7272D;
    transform: rotate(90deg);
}
/* fall message
---------------------------------------------------------------------------*/
.empty{
    text-align: center;
    font-size: 28px;
    display: none;
    padding-top: 100px;
}
.empty button{
    border: none;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.empty button:hover{
    color: #fff;
    background-color: #2EE59D;;
}

/*--- media query for screen size less than 1380px ---*/
@media only screen and (max-width: 1380px){
    .back{
        font-size: 15px;
        top: 1.5%;
    }
    .mini-nav{
        max-width: 200px;
        height: auto;
    }
    .orders{
        display: flex;
        width: 80%;
        height: auto;
        margin-left: 50px;
        
    }
    .orders p{
        font-size: 12px;
    }
    .order-img{
        padding: 0%;
    }
    .order-img img{
        width: 70px;
        height: 70px;
        padding: 0%;
    }
    .link a{
        font-size: 12px;
    }
    .empty{
        font-size: 20px;
    }
    .previous-order-content{
        width: auto;
        height: auto;
        padding-top: 40px;
        padding-left: 20px;
        text-align: center;
        min-height: 100vh;
    }
    .order-info{
        justify-content: center;
    }
}
    

/*--- media query for screen size less than 600px ---*/
@media only screen and (max-width: 600px){
    .back{
        top: 1.5%;
        font-size: 7px;
    }
    .mini-nav{
        max-width: 90px;
        height: auto;
    }
    .orders{
        display: block;
        width: 80%;
        height: auto;
    }
    .orders p{
        font-size: 10px;
    }
    .orders h4{
        font-size: 12px;
    }
    .order-img img{
        width: 70px;
        height: 70px;
        padding: 0%;
    }
    .order-img{
        padding: 0%;
    }
    .link a{
        font-size: 10px;
    }
    .empty{
        font-size: 18px;
    }
    .previous-order-content{
        position: static;
        padding-top: 40px;
        padding-left: 20px;
    }
    .order-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}